{% extends 'base.html' %}

{% load static %}

{% block content %}


 <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Categorias</span></h2>
        </div>
<!-- Categories Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            {% for categoria in categorias %}
            <div class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 30px;">
                    <p class="text-right">{{ categoria.produto_count }} Products</p>
                    <a href="{{ categoria.get_url }}" class="cat-img position-relative overflow-hidden mb-3">
                        {% if categoria.categoria_imagem %}
                            <img class="img-fluid" src="{{ categoria.categoria_imagem.url }}" alt="{{ categoria.categoria_nome }}">
                        {% else %}
                            <img class="img-fluid" src="{% static 'img/default-category.jpg' %}" alt="{{ categoria.categoria_nome }}">
                        {% endif %}
                    </a>
                    <h5 class="font-weight-semi-bold m-0">{{ categoria.categoria_nome }}</h5>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Categories End -->

    <!-- Products Start -->
    <div class="container-fluid pt-5">
        <div class="text-center mb-4">
            <h2 class="section-title px-5"><span class="px-2">Nossos Produtos</span></h2>
        </div>
    
        <div class="row px-xl-5 pb-3">
            {% for prod in produtos %}
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
                <div class="card product-item border-0 mb-4 h-100">
                    <div class="card-header product-img position-relative overflow-hidden bg-transparent border p-0" style="height: 300px;">
                        <img class="img-fluid w-100 h-100" src="{{ prod.imagens.url }}" alt="" style="object-fit: cover;">
                    </div>
                    <div class="card-body border-left border-right text-center p-0 pt-4 pb-3">
                        <h6 class="text-truncate mb-3 px-3">{{ prod.produto_nome }}</h6>
                        <div class="d-flex justify-content-center">
                            <h6>R$ {{ prod.preco|floatformat:2 }}</h6>
                        </div>
                    </div>
                    <div class="card-footer d-flex justify-content-between bg-light border">
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-eye text-primary mr-1"></i>View Detail</a>
                        <a href="" class="btn btn-sm text-dark p-0"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add To Cart</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- Products End -->

    <!--footer-->


    

{% endblock %}